<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Atores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="listaAtores">

    <ion-item-sliding *ngFor="let atores of listaAtores">
      <ion-item lines="full" >

        <ion-thumbnail slot="start">
          <img *ngIf="atores.foto" src="{{atores.foto}}" />
          <ion-icon *ngIf="!atores.foto" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{atores.nome}}</h1>
            <p>Nascido em: {{atores.nascimento}}</p>
            <p>Idade: {{atores.idade}}</p>
            <p>Cidade Natal: {{atores.nascenca}}</p>
            <ion-badge color="medium" *ngFor="let genero of atores.genero">
              {{genero}}
            </ion-badge>

            <ion-icon name="star" [color]="atores.favorito===true ? 'warning' : ('light')"></ion-icon>
          </div>
        </ion-label>

      <ion-item-options side="end">
        <ion-item-option color="primary" >
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

